@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.details__game {
  position: relative;
}

.details__game__image {
  max-width: 300px;
}

.details__game__info {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: $white;
  max-width: 270px;
  position: absolute;
}
