<div class="d-flex align-items-center pr-3 mt-2">
  <div class="font-weight-bold mr-2">Filter by:</div>
  <div>
    <button
      type="button"
      id="btn-popularity"
      class="btn btn-outline-purple"
      [disabled]="sortKey === 'popularity'"
      (click)="sortGames('popularity')">
      Popularity
    </button>
    <button
      type="button"
      id="btn-views"
      class="btn btn-outline-purple"
      [disabled]="sortKey === 'views'"
      (click)="sortGames('views')">
      Views
    </button>
  </div>
</div>
