<nav class="navbar navbar-expand-lg navbar-dark bg-white text-dark fixed-top flex-column">
  <app-search class="w-100"
    (loading)="loading = $event"
    (games)="games = $event"
    (searchMode)="searchMode = $event"
  ></app-search>
  <app-filter class="w-100"
    (gamesOutput)="games = $event"
    [games]="games"
  ></app-filter>
</nav>

<div class="container content">
  <ul class="game-list row"
    *ngIf="games.length"
    data-infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()"
  >
    <li
      class="col-sm-6 col-md-4 col-lg-3 game-list__item mb-2 d-flex flex-column game-list__item align-items-center"
      *ngFor="let game of games">
      <a class="game-list__item__link" [routerLink]="['/details']" [queryParams]="gameLink(game)">
        <img class="game-list__item__image" [src]="game.image">
        {{game.name}}
      </a>
    </li>
  </ul>

  <img
    class="mt-4 mb-4"
    *ngIf="loading"
    src='assets/images/loading.gif' />

  <div *ngIf="!games.length && !loading">No Results</div>
</div>
