@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.game-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.game-list__item__link {
  max-width: 300px;
  position: relative;
}

.game-list__item__image {
  width: 100%;
}

.game-list__item__title {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 20%;
  color: $white;
  position: absolute;
}
